{% extends 'core/base.html' %}

{% block title %}
| Producto | Categoria    
{% endblock title %}

{% block content_title %}
    {% if form.instance.pk %}
        Editar
    {% else %}
        Crear
    {% endif %}
        Categoria    
{% endblock content_title %}

{% block content %}

   <form method="post" class="form-control">    
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Guardar</button>+
        <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-secondary">Cancelar</a>
        
   </form>
   
    
{% endblock content %}