{% extends 'core/base.html' %}

{% block title %}
    | cliente
{% endblock title %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}

    <h2>cliente: Lista</h2>

    <table border= "1">
        <thead>
            <th>Nombre</th> 
            <th>Apellido</th>    

        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre}}</td>
                <td>{{ cliente.Apellido}} </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    

    <button><a href="{% url 'cliente:index' %}">Atras</a></button> 
    <button><a href="{% url 'core:index' %}">inicio</a></button> 
    
{% endblock content%}