{% extends 'core/base.html' %}

{% block title %}
    | cliente
{% endblock title %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}

    
    <table class= "table">
        <thead>
            <th>Nombre</th> 
            <th>Apellido</th>
            <th>Nacimiento</th>    
            <th>Pais de origen</th>    
             
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre}}</td>
                <td>{{ cliente.Apellido}} </td>
                
                {% if cliente.nacimiento %}
                    <td> {{ cliente.nacimiento }} </td>
                {% endif %}
                {% if cliente.pais_origen_id %}
                    <td> {{ cliente.pais_origen_id }} </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay registros</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    

    <button><a href="{% url 'cliente:index' %}">Atras</a></button> 
    <button><a href="{% url 'core:index' %}">inicio</a></button> 
    
{% endblock content%}