{% extends 'core/base.html' %}

{% block title %}
    | cliente
{% endblock title %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}

    <h2>cliente: Crear </h2>
    <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">GUARDAR</button>
    </form>
    

    <button><a href="{% url 'cliente:pais_list' %}">Atras</a></button> 
    <button><a href="{% url 'core:index' %}">inicio</a></button> 
    
{% endblock content%}