{% extends 'core/base.html' %}

{% block title %}
    | cliente
{% endblock title %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}
    <button><a href="{% url 'cliente:pais_list' %}">Lista de paises</a></button> 
    <button><a href="{% url 'cliente:cliente_list' %}">Lista de clientes</a></button>
    <button><a href="{% url 'cliente:cliente_create' %}">Crear cliente</a></button>
    <button><a href="{% url 'core:index' %}">inicio</a></button> 
{% endblock content %}

 