{% extends 'core/base.html' %}

{% block title %}
    | cliente
{% endblock title %}

{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}



    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">Clientes</h2>
            <div class="d-flex justify-content-center gap-4">            
                <a class="btn btn-primary w-50" href="{% url 'cliente:pais_list' %}">Lista de paises</a>
                <a class="btn btn-primary w-50" href="{% url 'cliente:cliente_list' %}">Lista de clientes</a>
                <a class="btn btn-primary w-50" href="{% url 'core:index' %}">inicio</a>
            </div>    
        </div>
    </div>








{% endblock content %}

 