<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualPlanet</title>

</head>
<body>

    <h1>Proyecto Final {{ app_name }}</h1>
    <h2>cliente</h2>

    <button><a href="{% url 'cliente:pais_list' %}">lista de paises</a></button> 
    <button><a href="{% url 'cliente:cliente_list' %}">lista de clientes</a></button> 
    <button><a href="{% url 'core:index' %}">inicio</a></button> 


</body>
</html>