{% extends 'core/base.html' %}

{% block content_title %}
   Nosotros    
{% endblock content_title %}

{% block content %}
    <div class="d.flex justify-content-center aling-items-center" style="height: 100vh;">
        <div class="text.center">
            <h1 class="display-4"> Bienvenido a Nuestra Pagina</h1>
            <p class="lead">Somos una Empresa dedicada a brindar soluciones tecnologicas. Nuestro objetivo principala es brindar un prodcuto y un servico completo en marca Apple en Argentina y alrededores </p>

            <h5>Nuestro Equipo</h5>
            <ul class="list-group">
            <li class="list-group-item"> Brahim Roger Rivero - CEO</li>
            <li class="list-group-item"> Exequiel Espindola - CTO</li>
            </ul>
        </div>
    </div>
{% endblock content %}