{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    | INICIO
{% endblock title %}

{% block content_title %}
 VirtualPlanet
{% endblock content_title %}

{% block content %}

    <div class="d-flex justify-content-center">
        <a href="{% url 'admin:index' %}"class= "btn btn-info w-50">Administración</a></button>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/apple_productos.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Todos los productos de Apple para vos</h1>
            </p>Estamos muy contentos de poder ofrecerte los mejores productos de una marca sumamente confiable y de calidad. Bienvenido, sumate a la familia Apple de la mano de VirtualPlanet. Contáctanos</p>
            <a class="btn btn-success" href="https://wa.me/1166033053"target= "blanck">WhatsApp</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'core/tarjeta.html' with titulo="tarjeta 1" texto="texto de tarjeta" %}
        {% include 'core/tarjeta.html' with titulo="tarjeta 2" imagen_url="" %}
        {% include 'core/tarjeta.html' %}
        {% include 'core/tarjeta.html' %} 
        {% include 'core/tarjeta.html' %}   
        {% include 'core/tarjeta.html' %}   

    </div>
{% endblock content %}



